* {
    margin: 0;
    padding: 0;

}
header {
 max-width: 100vw;
}
.title {
  box-sizing: border-box;
  width: 100%;
  height: 86px;
  line-height: 86px;
   background-color: white;
  z-index: 10;
  padding: 30px;
box-sizing: border-box;
}
.lolo {
  float:left;
  height: 72px; 
}
.nav_menu {
  display: inline-block;
  text-align: center;
  font-size: 22pt;
  color:#000;

}
.link {
  display: inline-block;
  margin-right: 50px;
  color: #000;
  transition: color .2s linear
}
 .link:hover {
  color: #A9A9A9;
  font-size: 24pt;
  font-weight: 600;
}
.nav_lupa{
   float: right; 

}
.lupa{
  float: right;
  height: 72px;
}
.burgermenu{
  display: none;
  float: right;
  height: 72px
}
.two_part{
  display: flex;
  box-sizing: border-box;
  background: url(../klava.jpg);
  background-size: cover;
  width: 100%;
  color: #F0F8FF;
  padding: 30px;
  justify-content: space-around;  
}
.all_slolo{
  text-align: right;
  width: 70%;
}
.slolo {
  font-size: 50pt;
}
.slolo2{
  font-size: 25pt;
}
.big_lolo {
  width: 25%;
  height: 25%;
}
main {
  width: 100vw;
  background-color: #F5F5F5;
  padding: 30px;
  box-sizing: border-box;
}
.cyberpunk{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  color: #F0F8FF;
  padding: 30px 0px;
  box-sizing: border-box;
}
.text_punk{
  color: #000;
  text-align: right;
  width: 40%;
}
.info_punk{
  font-size: 22pt;
}
.cyper_ico{
  width: 31%;
  border: 1px #FFFFFF solid;
  border-radius: 20px;
}
.price_punk{
  font-size: 24pt;
}

.hyperscape{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 30px 0px;
  box-sizing: border-box;
  color: #F0F8FF;
}
.text_hyper{
  color: #000;
  text-align: left;
  width: 40%;
}
.info_hyper{
  font-size: 22pt;
}
.hyper_ico{
  width: 23%;
  border: 1px #FFFFFF solid;
  border-radius: 20px;
}
.price_hyper{
  font-size: 24pt;
}

.gta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  color: #F0F8FF;
  padding: 30px 0px;
  box-sizing: border-box;
}
.text_gta{
  color: #000;
  text-align: right;
  width: 40%;
}
.info_gta{
  font-size: 22pt;
}
.gta_ico{
  width: 31%;
  border: 1px #FFFFFF solid;
  border-radius: 20px;
}
.price_gta{
  font-size: 24pt;
}
.rocket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  color: #F0F8FF;
  padding: 30px 0px;
  box-sizing: border-box;
}
.text_liga{
  color: #000;
  text-align: left;
  width: 40%;
}
.info_liga{
  font-size: 22pt;
}
.liga_ico{
  width: 40%;
  border: 1px #FFFFFF solid;
  border-radius: 20px;
}
.price_liga{
   font-size: 24pt;
}
footer{
  background-color: black;
  width: 100vw;
}
.bez_root{
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
}
.all_social{
  box-sizing: border-box;
  color:white;
  font-size: 20pt;
  width: 40%;
}
.tg{
  display: flex;
}
.inst{
  display: flex;
}
.inst_ico{
  width: 10%;
}
.tg_ico{
  width: 10%;
}
.root{
  color:white;
  font-size: 16pt;
  text-align: center;
}
.site_info{
  text-align: center;
  color:white;
  font-size: 14pt;
  width: 40%;
}
.play{
  text-align: center;
  box-sizing: border-box;
  background-color:#F5FAFF;
  width: 20%;
  height: 5%;
  font-size: 20pt;
  border: 1px white solid;
}
/*----- Mobile ----*/


@media (max-width: 850px) {
*{
  transition:0.3s;
}
.two_part{
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.nav_menu{
  font-size: 20pt;
}
.all_slolo{
  width: 90%;
  text-align: center;
}
.slolo {
  font-size: 34pt;
}
.slolo2{
  font-size: 18pt;
}
.big_lolo{
  width:60%;
}
.link{
  margin-right: 20px;
}
.cyberpunk{
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.cyper_ico{
  width: 60%;
  border-radius: 20px;
}
.text_punk{
  width: 100%;
  display: flex;
}
.info_punk{
  font-size: 18pt;
  text-align: left;
  width: 60%;
}
.price_punk{
  font-size: 20pt;
  text-align: right;
  width: 40%;
}
.undline{
  size: 3px;
}
.hyperscape{
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.hyper_ico{
  width: 60%;
  border-radius: 20px;
}
.text_hyper{
  width: 100%;
  display: flex;
}
.info_hyper{
  font-size: 18pt;
  text-align: left;
  width: 60%;
}
.price_hyper{
  font-size: 20pt;
  text-align: right;
  width: 40%;
}
.gta{
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.gta_ico{
  width: 60%;
  border-radius: 20px;
}
.text_gta{
  width: 100%;
  display: flex;
}
.info_gta{
  font-size: 18pt;
  text-align: left;
  width: 60%;
}
.price_gta{
  font-size: 20pt;
  text-align: right;
  width: 40%;
}
.rocket{
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.liga_ico{
  width: 70%;
  border-radius: 20px;
}
.text_liga{
  width: 100%;
  display: flex;
}
.info_liga{
  font-size: 18pt;
  text-align: left;
  width: 60%;
}
.price_liga{
  font-size: 20pt;
  text-align: right;
  width: 40%;
}
.all_social{
  font-size: 16pt;
}
.play{
  font-size: 16pt;
  border-radius: 20px;
}
.site_info{
  font-size: 14pt;
  width: 50%;
}
.root{
  font-size: 12pt;
}
}
@media (max-width: 640px){
.nav_lupa{
  display: none;
}
.burgermenu{
  display:inline-block;
  float:right;
}
.cyberpunk{
  flex-direction: column;
}
.text_punk{
  align-items: center;
  box-sizing: border-box;
  flex-direction: column-reverse;
}
.info_punk{
  font-size: 16pt;
  text-align: center;
  width: 100%;
}
.price_punk{
  font-size: 18pt;
  text-align: center;
  width: 100%;
}
.hyperscape{
  flex-direction: column;
}
.text_hyper{
  align-items: center;
  box-sizing: border-box;
  flex-direction: column-reverse;
}
.info_hyper{
  font-size: 16pt;
  text-align: center;
  width: 100%;
}
.price_hyper{
  font-size: 18pt;
  text-align: center;
  width: 100%;
}
.gta{
  flex-direction: column;
}
.text_gta{
  align-items: center;
  box-sizing: border-box;
  flex-direction: column-reverse;
}
.info_gta{
  font-size: 16pt;
  text-align: center;
  width: 100%;
}
.price_gta{
  font-size: 18pt;
  text-align: center;
  width: 100%;
}
.rocket{
  flex-direction: column;
}
.text_liga{
  align-items: center;
  box-sizing: border-box;
  flex-direction: column-reverse;
}
.info_liga{
  font-size: 16pt;
  text-align: center;
  width: 100%;
}
.price_liga{
  font-size: 18pt;
  text-align: center;
  width: 100%;
}
.undline{
  size: 2px;
}
.bez_root{
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.play{
  font-size: 16pt;
  border-radius: 20px;
  width: 60%;
  order: -1;
}
.site_info{
  font-size: 14pt;
  width: 100%;
  box-sizing: border-box;
}
.all_social{
width: 100%;
align-self: center;
}
.root{
  font-size: 12pt;
}
}
@media(max-width: 350){
.burgermenu{
  height: 60px;
}
.all_slolo{
  text-align: center;
}
.slolo {
  font-size: 10pt;
}
.slolo2{
  font-size: 6pt;
}


}

    